#menu-13 .mbr-brand__name {
	font-size: 16px;
}
#menu-13.mbr-navbar--stuck .mbr-navbar__section {
	background: #000000;
}
#menu-13 .mbr-navbar__section {
}
#header1-61 H1 {
	font-size: 60px !important;
}
#msg-box3-15 P {
	text-align: center !important;
	color: #000000 !important;
	font-size: 21px !important;
}
#msg-box3-15 H2 {
	font-size: 36px !important;
}
#msg-box5-27 H2 {
	font-size: 36px !important;
}
#msg-box5-27 P {
	font-size: 21px !important;
}
#msg-box5-20 P {
	color: #000000 !important;
	font-size: 21px !important;
}
#msg-box5-22 P {
	font-size: 21px !important;
}
#msg-box5-23 H2 {
	text-align: right !important;
	color: #000000 !important;
	font-size: 36px !important;
}
#msg-box5-23 P {
	color: #000000 !important;
	font-size: 21px !important;
}
#msg-box3-26 P {
	text-align: center !important;
	color: #ffffff !important;
	font-size: 21px !important;
}
#msg-box3-26 H2 {
	color: #ffffff !important;
	font-size: 36px !important;
}
#social-buttons2-22 .mbr-header__text {
	font-size: 36px;
	text-align: center;
}
#contacts2-24 DIV {
	color: #000000 !important;
}
#footer1-25 P {
	color: #000000 !important;
	text-align: center !important;
}
#menu-28 .mbr-brand__name {
	font-size: 16px;
}
#menu-28.mbr-navbar--stuck .mbr-navbar__section {
	background: #000000;
}
#menu-28 .mbr-navbar__section {
}
#header1-62 H1 {
	font-size: 60px !important;
}
#msg-box3-30 P {
	text-align: center !important;
	color: #000000 !important;
	font-size: 21px !important;
}
#msg-box3-30 H2 {
	font-size: 36px !important;
}
#features1-40 P {
	text-align: center !important;
	color: #000000 !important;
}
#features1-40 H3 {
	font-size: 25px !important;
}
#features1-39 H3 {
	font-size: 25px !important;
}
#features1-39 P {
	text-align: center !important;
	color: #000000 !important;
}
#social-buttons2-31 .mbr-header__text {
	font-size: 36px;
	text-align: center;
}
#msg-box3-36 P {
	text-align: center !important;
	color: #ffffff !important;
	font-size: 21px !important;
}
#msg-box3-36 H2 {
	color: #ffffff !important;
	font-size: 36px !important;
}
#contacts2-37 DIV {
	color: #000000 !important;
}
#footer1-38 P {
	color: #000000 !important;
	text-align: center !important;
}
#menu-3 .mbr-brand__name {
	font-size: 16px;
}
#menu-3.mbr-navbar--stuck .mbr-navbar__section {
	background: #000000;
}
#menu-3 .mbr-navbar__section {
}
#menu-3 .btn {
	font-size: 13px;
}
#slider-0 H1 {
	font-size: 60px !important;
}
#slider-0 P {
	font-size: 36px !important;
}
#slider-0 .btn {
	font-size: 18px;
}
#msg-box3-6 P {
	text-align: center !important;
	color: #000000 !important;
	font-size: 21px !important;
}
#msg-box3-6 H2 {
	font-size: 48px !important;
}
#msg-box4-4 P {
	font-size: 21px !important;
}
#msg-box4-4 H2 {
	font-size: 48px !important;
}
#social-buttons2-5 .mbr-header__text {
	text-align: center;
	font-size: 36px;
}
#msg-box4-7 P {
	color: #000000 !important;
	font-size: 21px !important;
}
#msg-box4-7 H2 {
	color: #000000 !important;
	font-size: 48px !important;
}
#content5-8 .caption h3 {
	color: #fff;
	font-size: 48px;
}
#content5-8 P {
	color: #fff;
	text-align: center !important;
	font-size: 21px !important;
}
#features1-9 P {
	text-align: center !important;
	font-size: 21px !important;
	color: #000000 !important;
}
#features1-9 H3 {
	font-size: 36px !important;
}
#msg-box3-10 P {
	color: #ffffff !important;
	text-align: center !important;
	font-size: 21px !important;
}
#msg-box3-10 H2 {
	color: #ffffff !important;
	font-size: 48px !important;
}
#social-buttons2-16 .mbr-header__text {
	font-size: 36px;
	text-align: center;
}
#msg-box5-12 H2 {
	font-size: 32px !important;
	text-align: right !important;
}
#msg-box5-12 P {
	font-size: 17px !important;
}
#contacts2-13 DIV {
	color: #000000 !important;
}
#footer1-17 P {
	color: #000000 !important;
	text-align: center !important;
}
#menu-55 .mbr-brand__name {
	font-size: 16px;
}
#menu-55.mbr-navbar--stuck .mbr-navbar__section {
	background: #000000;
}
#menu-55 .mbr-navbar__section {
}
#menu-55 .btn {
	font-size: 13px;
}
#header1-68 H1 {
	font-size: 60px !important;
}
#header1-68 P {
	font-size: 21px !important;
}
#msg-box3-57 P {
	text-align: center !important;
	color: #000000 !important;
	font-size: 17px !important;
}
#msg-box3-57 H2 {
	font-size: 48px !important;
}
#msg-box4-69 P {
	font-size: 17px !important;
}
#msg-box4-69 H2 {
	font-size: 48px !important;
}
#msg-box4-70 H2 {
	font-size: 48px !important;
	color: #000000 !important;
}
#msg-box4-70 P {
	color: #000000 !important;
}
#msg-box4-71 H2 {
	font-size: 48px !important;
}
#social-buttons2-59 .mbr-header__text {
	text-align: center;
	font-size: 36px;
}
#msg-box3-63 P {
	color: #ffffff !important;
	text-align: center !important;
	font-size: 21px !important;
}
#msg-box3-63 H2 {
	color: #ffffff !important;
	font-size: 48px !important;
}
#contacts2-66 DIV {
	color: #000000 !important;
}
#footer1-67 P {
	color: #000000 !important;
	text-align: center !important;
}
#menu-74 .mbr-brand__name {
	font-size: 16px;
}
#menu-74.mbr-navbar--stuck .mbr-navbar__section {
	background: #000000;
}
#menu-74 .mbr-navbar__section {
}
#menu-74 .btn {
	font-size: 13px;
}
#header1-75 H1 {
	font-size: 60px !important;
}
#header1-75 P {
	font-size: 21px !important;
}
#msg-box3-76 P {
	text-align: center !important;
	color: #000000 !important;
	font-size: 21px !important;
}
#msg-box3-76 H2 {
	font-size: 48px !important;
}
#msg-box4-77 P {
	font-size: 17px !important;
}
#msg-box4-77 H2 {
	font-size: 48px !important;
}
#msg-box4-78 H2 {
	font-size: 48px !important;
	color: #000000 !important;
}
#msg-box4-78 P {
	color: #000000 !important;
}
#msg-box4-79 H2 {
	font-size: 48px !important;
}
#msg-box4-84 H2 {
	color: #000000 !important;
	font-size: 48px !important;
}
#msg-box4-84 P {
	color: #000000 !important;
}
#msg-box4-85 H2 {
	font-size: 48px !important;
}
#msg-box4-86 H2 {
	color: #000000 !important;
	font-size: 48px !important;
}
#msg-box4-86 P {
	color: #000000 !important;
}
#msg-box4-87 H2 {
	font-size: 48px !important;
}
#msg-box4-88 H2 {
	color: #000000 !important;
	font-size: 48px !important;
}
#msg-box4-88 P {
	color: #000000 !important;
}
#msg-box4-89 H2 {
	font-size: 48px !important;
}
#msg-box4-60 P {
	color: #000000 !important;
}
#msg-box4-60 H2 {
	color: #000000 !important;
	font-size: 48px !important;
}
#header3-90 P {
	text-align: center !important;
	font-size: 17px !important;
	color: #000000 !important;
}
#header3-90 H3 {
	text-align: center !important;
	font-size: 46px !important;
}
#social-buttons2-80 .mbr-header__text {
	text-align: center;
	font-size: 36px;
}
#msg-box3-81 P {
	color: #ffffff !important;
	text-align: center !important;
	font-size: 21px !important;
}
#msg-box3-81 H2 {
	color: #ffffff !important;
	font-size: 48px !important;
}
#contacts2-82 DIV {
	color: #000000 !important;
}
#footer1-83 P {
	color: #000000 !important;
	text-align: center !important;
}
